{% extends "base.html" %}
{% load static %}
{% block content %}
{% if shops %}

<div class="untree_co-section product-section before-footer-section">
    <div class="container">
          <div class="row">

             {% for shop in shops %}
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="{% url "company_products" shop.company_name  %}">
                    <div style="height: auto;width: auto;margin: 20px;">
                        <img src="{{shop.image.url}}" class="img-fluid product-thumbnail" style="height: 240px;width: auto;object-fit: contain;">
                    </div>
            
                    <h3 class="product-title">{{shop.company_name}}</h3>
                </a>
            </div>
            {% endfor %}
          </div>
    </div>
</div>
{% endif %}

{% endblock content %}