{% load static %}
<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
    <li class="nav-item ">
        <a class="nav-link" href="{% url "root" %}">Home</a>
    </li>
    <li><a class="nav-link" href="{% url "comanies" %}">Shops</a></li>
    <li><a class="nav-link" href="{% url "signup" %}">SignUp</a></li>
</ul>

<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
    <li>
        <a class="nav-link" href="{% url "login" %}"><img src="{% static "images/user.svg"%}"></a>
    </li>
    <li><a class="nav-link" href="{% url "cart" %}"><img src="{% static "images/cart.svg"%}"></a></li>
</ul>