{% load static %}
<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
    <li class="nav-item ">
        <a class="nav-link" href="{% url "root" %}">Home</a>
    </li>
    <li><a class="nav-link" href="{% url "signup" %}">Discount</a></li>

</ul>

<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
    <li>
        <a class="nav-link" href="{% url "login" %}">
            {% if user_image %}
            <img src="{{user_image}}" style="vertical-align: middle;width: 38px;height: 38px;border-radius: 50%;">
            {% else %}
            <img src="{% static "images/user.svg" %}">
            {% endif %}
        </a>
    </li>
    <li><a class="nav-link" href="{% url "history" %}"><img src="{% static "images/history.png"%}" style="width: 38px;height: 38px;"></a></li>

    <li><div class="nav-link">
        <form action="{% url "logout" %}" method="post">
            {% csrf_token %}
            <button class="icon-cross" type="submit" ><img src="{% static "images/out.svg" %}"></button>
        </form>
        
    </div></li>
</ul>