{% extends "register/main_register_form.html" %}
{% block register_model %}
<div class="form-left">
    <h2>Address Infomation</h2>
    <div class="form-row">
        {{form.country}}
      </div>
      <div class="form-row">
        {{form.state}}
      </div>
    </div>
<div class="form-right">
      <div class="form-row">
        {{form.city}}
      </div>
      <div class="form-row">
        {{form.street}}
      </div>
      <div class="form-row">
        {{form.zip_code}}
      </div>
    <div class="form-row-last">
      <input type="submit" name="register" class="register" value="Update Address">
    </div>
  </div>
{% endblock register_model %}